@font-face {
  font-family: "custom glyphs";
  font-weight: 400;
  src: url("./fonts/custom-glyphs.woff2") format("woff2");
  src: url("./fonts/custom-glyphs.woff") format("woff");
}
#container {
  width: 100%;
  max-width: 900px;
  padding: 40px 16px;
  margin: 0 auto;
  font-family: "custom glyphs", "kranto-display", "noto-sans-cjk-kr", sans-serif;
}
@media (max-width: 900px) {
  #container {
    padding: 40px 24px;
  }
}

.tt {
  font-weight: 400;
  letter-spacing: 0.01em;
  word-spacing: 0.012em;
}
.tt .ff {
  font-weight: 400;
  position: relative;
  bottom: 0.035em;
  font-size: 90%;
  line-height: 1;
}

p {
  margin-bottom: 20px;
}
p.title {
  font-size: 24px;
  line-height: 1.4;
}
@media (max-width: 900px) {
  p.title {
    font-size: 22px;
  }
}
p.content {
  font-size: 18px;
  line-height: 1.6;
}
@media (max-width: 900px) {
  p.content {
    font-size: 16px;
  }
}