doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Typography Test
    link(rel="stylesheet", href="./assets/styles/common.css")
    script(src="./assets/scripts/cssbrowserselector.js") 
  body
    h1 List
    div.list
    a(href='./page/1' target='_self') Page
    a(href='./page/2' target='_self') Page