* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal;
  word-break: keep-all;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: transparent;
}

img {
  display: block;
}

input:focus, textarea:focus {
  outline: none;
}

a, a:hover, a:visited {
  color: #000;
  cursor: pointer;
  user-select: none;
}

button {
  color: #000;
  cursor: pointer;
  user-select: none;
}

.win body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.2px;
}